/* @override 
	http://192.168.1.13:8100/css/d3clock.css */


.d3clock-wrapper {
  background: linear-gradient(80deg, #ececec 0%, #fcfcfc 30.3%, #ededed 100%) #fff !important;
  text-align: center;
  color: #333;
}


svg{
	stroke: #333;
	font-family: 'Montserrat', sans-serif;
}

#rim {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}


.hand {
	stroke-width: 2;
	fill: #333;
	stroke:  #333;
}
	
.undecsmall-hand{
}

.undecmedium-hand{
}

.undeclarge-hand{
}

.hands-cover{
	stroke-width:1;
	fill:#FFF;
	stroke: #FFF;
}

.undecsmall-tick{
	stroke-width:1.25;
	fill:#333;	
}

.undeclarge-tick{
	stroke-width:4; 
}

.second-label{
	font-size: 12px;
}

.hour-label{
	font-size: 18px;
}



